.userInfo {
    width: 300px;
    padding: 14px;
    margin: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.5s;
}

.userInfo:hover {
    transform: scale(1.1);
}

.userInfo h3 {
    font-size: 18px;
    color: #504b4b;
    font-weight: 500;
}