.form {
    width: 300px;
    margin: 20px auto;
    display: block;
}

.search {
    width: 100%;
    padding: 14px 15px;
    border-radius: 50px;
    border: none;
    border: 1px solid #ddd;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.search:focus {
    outline: none;
}